/* .content { 
    grid-area: c;
    background-color: chartreuse;
    height: 70vh;
} ВЫНЕСЛИ ЭТО В 'App.css' В '.app_wrapper_content' */
    .img {
        height: 20vh;
        width: 80vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

