.app_wrapper {
  display: grid;
  grid-template:
  'h   h   h' auto
  'n   c   c' auto
  'n   c   c' auto
  /.7fr 2fr 2fr;
}

.app_wrapper_content {
  grid-area: c;
  background-color: rgb(170, 247, 200);
  height: 70vh;
}